 @media (min-width: 1000px) and (max-height:550px) {

     #container-left #main-section {
         overflow-y: auto;
         scrollbar-width: none;
         height: 100%;
         gap: .5rem;
         margin-top: .5rem;
     }

     #main-section .mainContent {
         min-height: 160px;
     }

     #main-section #advisory-section {
         min-height: 175px;
     }

     #air-condition {
         margin-bottom: .7rem;
     }

     /* ----------------- ⁡⁣⁢⁣​‌‍‌𝗔𝗱𝘃𝗶𝘀𝗼𝗿𝘆 𝗦𝗲𝗰𝘁𝗶𝗼𝗻​⁡ ----------------- */

     #advisory-section .conditionsData {
         padding: .2rem 0;
     }

     /* Condiction-data data-index  */
     #advisory-section .conditionsData .data-index {
         gap: .70rem;
         width: 48% !important;
     }

     #advisory-section .data-index .solid-icons {
         width: 25% !important;
     }

 }

 @media (min-width: 1000px) and (max-width: 1200px) {

     #advisory-section .data-index .solid-icons {
         width: 28%;
     }

     .parent-container {
         width: 100%;
         gap: 5px;
     }

     #first-container {
         width: 80px;
     }

     #second-container {
         width: 89%;
     }

     #container-right {
         width: 35.5%;
     }

     #forecast #showForecast .wrapper {
         width: min(27.7%, 95px);
     }


 }

 @media (min-width: 1000px) and (min-height: 600px) {
     #container-right #forecast #showForecast {
         row-gap: min(2vh, 15px);
     }
 
     #container-right #weekly-forecast {
         gap: min(1vh, 8px);
     }

     #container-right #weekly-forecast #showWeeklyFor {
         /* gap: min(1vh, 12px); */
     }

 }

 @media (min-width: 1000px) {}

 @media (min-width: 1200px) and (min-height: 700px) {
     /* body {
         background-color: black;
     } */

     .parent-container {
         border-radius: .8rem;
     }
 }