/* -------------------------------------------------------------
                         ​‌‌‌⁡⁣⁢⁣𝗨𝗻𝗶𝘁𝘆⁡​  ​‌‌‌⁡⁣⁢⁣‍𝗥𝗲𝘀𝗽𝗼𝗻𝘀𝗶𝘃⁡​
--------------------------------------------------------------- */

/* Mobile (max-width 1000x) */
@media (max-width: 1000px) {
  body {
   background-color: rgb(11, 19, 30);
  }

  .parent-container {
    height: 100vh;
  }

  /*  Star 2 side, but close */
  #tempContent.night::after {
    right: 10%;
  }

  /* Width 100% set  */
  .parent-container,
  #container-left #input-row,
  #container-left,
  #container-right {
    width: 100%;
  }

  /* ------------------------       ​‌‌‌⁡⁢⁣⁢𝗗𝗶𝘀𝗽𝗹𝗮𝘆 𝗡𝗼𝗻𝗲⁡​      ------------------------ */
  .storeCity #container-right,
  .responsive-feature #container-right {
    display: none;
  }

  /* Lower Div = Div Padding set */
  #lowerDiv div {
    padding: 0.8rem;
  }

  /* Lower Div = Div active transfor set  */
  #lowerDiv div:active {
    transform: scale(1.1);
  }

  /* Container - Left margin Set  */
  #container-left {

    margin: 0%;
  }

  /* input-row margin set  */
  #input-row {
    margin-top: 0.312rem;
    width: 90%;
  }

  /* input-row = input  */
  #input-row input {
    font-size: .95rem;
    padding-left: 0.938rem;
  }

  /* Second - Container flex wrap set  */
  #second-container {
    flex-wrap: wrap;
    row-gap: clamp(17px, 2.6vh, 20.4px);
  }

  /* Second - Container Main Sectoin  */
  #main-section {
    margin-top: clamp(.6rem, 1.5vh, 11px);
    gap: clamp(14px, 2.15vh, 17px);
  }

  /* TempDegree margin set  */
  #tempDegree {
    margin-top: -0.625rem;
  }

  /* Temp Content margin set  */
  #tempContent {
    margin-bottom: 1.25rem;
  }

  /* Temp Content img widht & height set  */
  #temprature #tempContent img {
    width: clamp(5.625rem, calc(5.625rem + (100vw - 900px) * 0.044), 6.4rem);
    height: clamp(5.625rem, calc(5.625rem + (100vw - 900px) * 0.044), 6.4rem);
  }

  /* Umbrella Imge = div display none-set */
  #um-img {
    display: none;
  }

  /* ------------------------------------------------------- ⁡⁣⁣⁢​‌‌‌‍𝗜𝗡𝗗𝗘𝗫​⁡ ------------------------------------------------------- */

  /* ------------------------------------------------------- ​‌‍‌⁡⁣⁢⁣𝗧𝗲𝗺𝗽𝗿𝗮𝘁𝘂𝗿𝗲 𝗦𝗲𝗰𝘁𝗶𝗼𝗻⁡​ ------------------------------------------------------- */

  /* for Index.html and features.html  */
  #second-container #temprature .first1 {
    width: 78%;
    margin-top: -0.4rem;
    padding-left: 6%;
    gap: clamp(1.8rem, 4.5vh, 2rem);
  }

  /* Temprature - Section tempDegree & defaultCity padding set  */
  #temprature .first1 #tempDegree,
  #temprature .first1 #defaultCity {
    padding-left: 0rem;
  }

  /* ------------------------------------------------------- ⁡⁣⁢⁣​‌‍‌𝗔𝗱𝘃𝗶𝘀𝗼𝗿𝘆 𝗦𝗲𝗰𝘁𝗶𝗼𝗻​⁡ ------------------------------------------------------- */
  #advisory-section {
    padding: clamp(14.5px, 2.45vh, 1.1rem) 0;
  }

  /* condition data */
  #advisory-section .conditionsData {
    width: clamp(90.6%, calc(90.6% + (100vw - 600px) * 10), 92%);
    gap: max(0.6rem, calc(0.7rem - (max(0px, 100vw - 600px) * 1)));
  }

  /* CondictionData data-index */
  .parent-container #advisory-section .conditionsData .data-index {
    width: 100%;
    gap: clamp(.9rem, 3vw, 20px);
    padding: .7rem 0rem;
  }

  /* solid-icon i  */
  #advisory-section .conditionsData .solid-icons i {
    font-size: 1.45rem;
    height: 1.5rem;
  }

  #advisory-section .card-desing {
    gap: clamp(5.5px, .85vh, 6.7px);
  }

  /* Card title  */
  #advisory-section .card-title {
    font-size: clamp(.8rem, 1.9vh, .83rem);
  }

  /* Card main value  */
  #advisory-section .card-value {
    font-size: clamp(1rem, 2.35vh, .95rem);
  }

  /* Card sub  */
  #advisory-section .card-sub {
    margin-top: -5px;
    color: #e9ebff;
  }

  /* ------------------------------------------------------- ​‌‍‌‍⁡⁣⁢⁣𝗔𝗶𝗿 𝗖𝗼𝗻𝗱𝗶𝘁𝗶𝗼𝗻 - 𝗦𝗲𝗰𝘁𝗶𝗼𝗻⁡​ ------------------------------------------------------- */
  /* Air - Condition condition data  */
  #air-condition .conditionsData {
    justify-content: space-between;
    padding-left: .1rem;
  }

  #air-condition #airCon {
    margin-top: 0px;
  }

  /* ConditoinData data-index width set  */
  #air-condition .data-index {
    width: 45%;
  }

  /* data-index h1 font size set  */
  #air-condition .conditionsData h2 {
    font-size: 1.39rem;
    margin-top: .27rem;
  }

  /* rain chance & uv index gap set  */
  #air-condition .conditionsData {
    row-gap: clamp(1.45rem, 3.9vh, 1.7rem);
    column-gap: 0rem;
  }

  /* ------------------------------------------------------- ​‌‍‌⁡⁣⁢⁣𝗙𝗼𝗿𝗲𝗰𝗮𝘀𝘁 𝗦𝗲𝗰𝘁𝗶𝗼𝗻⁡​ ------------------------------------------------------- */
  .parent-container #container-right {
    gap: clamp(18px, 3.1vh, 23px);
  }

  /* Forecast - Section gap & margin set  */
  .index #forecast {
    gap: clamp(12px, 1.7vh, 16px);
    padding-top: clamp(5px, 1.1vh, 8px);
  }

  /* Hover – wrapper dark mode feel */
  .index .wrapper:hover {
    transform: translateY(-.7px) scale(1.013);
  }

  /* Show weekly forecast section gap set  */
  #container-right #weekly-forecast #showWeeklyFor {
    width: clamp(50%, calc(85% - (100vw * 0.04)), 80%);
    gap: clamp(6px, 1.3vh, 9.6px);
    padding-top: clamp(14px, 2.3vh, 16px);
  }

  /* ------------------------------------------------------- ⁡⁢⁣⁣​‌‌‌𝗘𝗻𝗱 𝗜𝗻𝗱𝗲𝘅​⁡ ------------------------------------------------------- */

  /* ------------------------------------------------------- ⁡⁣⁣⁢​‌‌‌𝗙𝗲𝗮𝘁𝘂𝗿𝗲​⁡ ------------------------------------------------------- */

  /* Features  Weather Metric Sectoin gap & padding set  */
  #weatherMetrics {
    padding-top: 1rem;
  }

  /* Metric-Card width & padding set  */
  .metricCard {
    width: 48.5%;
    padding: 1.1rem 0rem 1.1rem 0.5rem;
    margin-top: 2px;
  }

  /* Metric-Card Metric-Info P font size set  */
  .metricInfo p {
    font-size: clamp(.83rem, 2.1vh, .9rem);
  }

  /* Metric Card h3 font size set  */
  .metricCard h3 {
    font-size: clamp(.95rem, 2.6vh, 1.1rem);
  }

  /* ------------------------------------------------------- ​‌‌‌⁡⁢⁣⁣𝗘𝗻𝗱 𝗙𝗲𝗮𝘁𝘂𝗿𝗲𝘀⁡​ ------------------------------------------------------- */

  /* ------------------------------------------------------- ​‌‌‌⁡⁣⁣⁢𝗦𝘁𝗼𝗿𝗲 𝗖𝗶𝘁𝘆⁡​ ------------------------------------------------------- */
  /* ⁡⁢⁢⁢𝗔𝗻𝗶𝗺𝗮𝘁𝗶𝗼𝗻 𝗙𝗼𝗿 𝗦𝗺𝗮𝗹𝗹-𝗦𝗰𝗿𝗲𝗲𝗻⁡  */
  @keyframes slideRightShrink {
    0% {
      opacity: 1;
      transform: translateX(0) scale(1);
    }

    60% {
      opacity: 0.7;
      transform: translateX(60px) scale(0.96);
    }

    100% {
      opacity: 0;
      transform: translateX(120px) scale(0.88);
    }
  }

  .city-wrapper.remove {
    animation: slideRightShrink 0.45s ease forwards;
  }

  /* List City Section  */
  #listCity {
    padding-top: 1.25rem;
    padding-bottom: 5rem;
  }

  /* City Card  */
  #listCity .city-card {
    padding: clamp(.8rem, calc(.8rem + (100vw - 500px) * 0.012), 1rem) 1.5rem;
    padding-right: 2rem;
  }

  /* City-wraper city left  */
  .city-wrapper .city-left {
    transition: all 0.7s ease;
  }

  /* Store-city Second - Container = Container Left  */
  .storeCity #second-container #container-left {
    height: 92vh;
  }

  /* ------------------------------------------------------- ⁡⁢⁣⁣​‌‌‌𝗘𝗻𝗱 𝗦𝘁𝗼𝗿𝗲 𝗖𝗶𝘁𝘆​⁡ -------------------------------------------------------*/

  /* -------------------------------------------------------⁣⁢​‌‌‌ ⁡⁣⁣⁢𝗪𝗼𝗿𝗹𝗱 𝗠𝗮𝗽​⁡ ------------------------------------------------------- */
  /* Parent Container world Map height set  */
  .world-map #worldMap {
    height: 70vh;
  }

  /* Parent Container container right   */
  .world-map #container-right {
    height: 60vh;
    padding-bottom: 1rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
  }

  /* ------------------------------------------------------- ​‌‌‌‍⁡⁢⁣⁣𝗘𝗻𝗱 𝗪𝗼𝗿𝗹𝗱 𝗠𝗮𝗽⁡⁡​ ------------------------------------------------------- */
}